:root {
  /* Color of tootlip background */
  --tip-color: whitesmoke;
  --tip-border: rgb(17, 17, 17);

  /* Color of country borders when unselected */
  --border-color: white;

  /* Color of country when hovering */
  --hover-color: rgb(204, 204, 235);

  /* Color of country when selected for graphing */
  --selected-color: rgb(219, 131, 59);

  --facebook-theme-color: #3b5998;
  --google-theme-color: #3cba54;
  --microsoft-theme-color: #00a1f1;
}


/* Slider colors */
.handle {
  fill: #026380c2;
}
.selection {
  fill: rgb(253, 243, 186);
}

/* Color scheme for the geomap */
.map-empty-color {
  fill: rgb(150, 150, 150);
}
.map-color-1 {
  fill: rgb(253, 212, 158);
}
.map-color-2 {
  fill: rgb(253, 187, 132);
}
.map-color-3 {
  fill: rgb(252, 141, 89);
}
.map-color-4 {
  fill: rgb(227, 74, 51);
}
.map-color-5 {
  fill: rgb(179, 0, 0);
}
