body {
    padding: 20px;
}

.rectUSDA{
    fill:none;
    border: 5px solid red;
}

.pyramid .input_wrap {
  font: 10px sans-serif;
  text-align: right;
}

.pyramid div {
  font: 10px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 10px;
  color: white;
  width: auto;
  height: auto;
}


.spacing {
    margin-top: 90px;
}

.spaceout {
    margin: 20px;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}