body {
    
}

h1, h4 {
	text-align: center;
}
.project-container {
	text-align: center;
}
.svgContainer {
    width: auto;
    display: inline-block;
    
}
.right-container {
	display: inline-block;
	vertical-align: top;
}
.buttons {
	/*text-align: left;*/
    display: block;
}

.legend-container {
	margin-top: 5%;
	display: block;
    float:right;
}
.slider-container {
    width: 700px; /* Same as the width in the javascript */
    margin: auto;
}
.slider {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.project-description {
	width: auto;
    background-color: aliceblue;
    
}

.details {
	background-color: #ece7f2;
	width: 400px;
	position: absolute;
	top: 200px;
	right: 20px;
	text-align:left;
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

.staticTooltip{
    background-color: #ece7f2;
    position: absolute;
    top: 350px;
    left:80px;
    width: 275px;
    height: 230px;
    text-align:left;
    padding-left:5px;
    padding-top:5px;
    padding-right:5px;
    
    border-radius:10px;
    -webkit-border-radius: 10px;
    box-shadow:2px 2px;
    -webkit-box-shadow:2px 2px;
}

.staticTooltip p {
	width:100%;
	display:inline-block;
}

.ttValues {
	float:right;
}


th {
    padding-right:30px;
}


#inds{
	position:absolute;
	top:200px;
	left:1180px;
}
* {
	box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	padding: 0px;
}

.left, .right {
	width: 25%;
}

.middle1, .middle2 {
	width: 25%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.author {
	line-height: 1;
}

#chart{
	position:absolute;
}

#note{
	position:relative;


}

.line {
	fill: none;
	stroke: #EF5285;
	stroke-width: 2px;
}
	
#annotation {
	position:relative;
	stroke:	#00FFFF;
	stroke-width: 2px;
	width: 600px;
	bottom: 600px;
	left:70px;
	Padding-top:30px;
}


#annotation_1 {
	position: absolute;
	stroke:	#00FFFF;
	font-size:15px;
	stroke-width: 2px;
	width: 420px;
	bottom: 70px;
	left:1100px;
	padding:30px;
}
