body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-weight: 300;
}

h1 {
    color: darkslategray;
}


.hidden {
    display: none;
}

div.tooltip1 {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 70px;
    padding: 8px;
    margin-top: -20px;
    font: 10px sans-serif;
    background: #ddd;
    pointer-events: none;
    border-radius: 5px;
}


.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}
.focus circle {
    fill: none;
    stroke: steelblue;
}

#back_button_text{
    pointer-events: none;
}


.overlay {
    fill: none;
    pointer-events: all;
}

#source, #insight {
    margin-right: 30px;
    margin-left: 30px;
}

svg {
    display: block;
    margin: 0 auto;
}

.ticks {
    font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}

.line {
    fill: none;
    stroke: teal;
    stroke-width: 1px;
}

.fat_line {
    stroke: transparent;
    stroke-width: 15px;
    fill: transparent;
}

.pessimistic {
    stroke: red;
    stroke-width: 1px;
}

.optimistic {
    stroke: blue;
    stroke-width: 1px;
}

.bau {
    stroke: green;
    stroke-width: 1px;
}

.predicted {
    stroke: red;
    stroke-dasharray: 2, 3;
}

.predictedSlider {
    stroke: red;
    stroke-dasharray: 2, 3;
}

.label{
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    fill: #000000;
}

.predictedLabel {
    font-family: Helvetica, sans-serif;
    font-size: 12px!important;
    fill: red;
}

div.tooltip {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    position: absolute;
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 2px;
    font-size: 25px;
    background: #cccccc;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: black;
}

div.tooltip_info_box {
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

div.tooltip_titles {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    text-align: left;
    width: 60%;
    color: black;
    display: inline-block;
    padding-left: 5px;
    font-size: 15px;
}

div.tooltip_info {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    text-align: right;
    width: 39%;
    color: #08519c;
    display: inline-block;
    padding-right: 5px;
    font-size: 15px;
}

.predictedSliderLabel{
    font-family: Helvetica, sans-serif;
    font-size: 8px!important;
    fill: red;
}

.DataSelectorMulti {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 100%, .9);
    padding: 1em;
    z-index: 10;
    overflow-y: scroll;
    text-align: left;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.Modal {
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
    width: 55%;
    height: 45%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;

}

.container {
    position: relative;
    padding-left: 25px !important;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

.close-classic {
    color: #777;
    font: 14px/100% arial, sans-serif;
    float: right;
    padding-left: 10px;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
    font-size: 18px;
    padding-top: 8px;
}

.close-classic:after {
    content: 'X'; /* ANSI X letter */
}

.bar-highlight {
    fill: #ec008c;
    opacity: 1;
}

